body {
    background: #414756;
}

.title, .playerContainer, .computerContainer {
    color: black;
    font-family: sans-serif;
}

header, .resultText {
    color: #f1f0f3;
    font-family: sans-serif;
}

.wrapper {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

header {
    font-size: 2em;
    flex: 0 0 100%;
    text-align: center;
    padding: 2.25em 0 2.25em;
}

.playerContainer, .computerContainer {
    padding: 1em 0 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    padding: 1em 6em;
    background: #9da4c7;
    color: black;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.678);
    border-radius: 1.5em;
}

.resultText {
    flex: 0 0 100%;
    text-align: center;
    padding: 6em 0 0;
}

.playerButton, .computerButton {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.678);
    border-radius: 1.5em;
    padding: 2em;
    margin: 0.5em 1em 0.5em;
    background: #726cff;
}

.playerButton:hover {
    background-color: #ffffbf;
    transition: background-color 0.25s;
}